<table border="1">
    <tr>
        <td>
            <code>{{ '{{' }} imported_asset('test2/style2.css') {{ '}}'}}</code>
        </td>
        <td>
            <code>{{ imported_asset('test2/style2.css') }}</code>
        </td>
    </tr>
</table>
